---
layout: default
---

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/bibtex-js.js"></script>


    <script type="text/javascript">
    $(function () {

        $.get('{{page.bibtex}}', function (response) {
           $('#bibtex-journals').BibtexJS({
               TemplateString: $("#bibtex-journals-template").text(),
               BibtexString: response,
               AuthorToHighlight: "{{page.myself}}"
           });
         });
      });
    </script>

  
    <script id="bibtex-journals-template" type="text/template">

	<div class="bibtex_journals_template">
               <p><span class="author"></span> (<span class="year"></span>) <i><span class="title"></span></i>. <span class="journal"></span>
		</p>
        </div>
    </script>

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    
    <div id="bibtex-journals"></div>
   
    {{ content }}
  </div>

</article>
