---
layout: default
---

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/bibtex-js.js"></script>


    <script type="text/javascript">
    $(function () {

        $.get('{{page.bibtex}}', function (response) {
           $('#bibtex-journals').BibtexJS({
               TemplateString: $("#bibtex-journals-template").text(),
               BibtexString: response,
               AuthorToHighlight: "Forer, Lukas"
           });
         });
      });
    </script>

  
    <script id="bibtex-journals-template" type="text/template">
        <div class="bibtex_journals_template">
            <div class="if author" style="font-weight: bold; font-size: medium; padding-top: 30px;">
                <span class="if year"><strong><span class="conference" style="color: #000;"></span>  <span class="year" style="color: #000;"></span></strong>, </span><span class="title"></span>
                <span class="if url" style="margin-left: 20px">
                    <a class="url" style="color:black; font-size:10px">(view online)</a>
                </span>
            </div>
            <div style="margin-left: 10px; margin-bottom:5px;">
                <span class="author"></span>, <span class="booktitle" style="font-weight: bold; font-size:small;"></span>
            </div>
            <div class="if booktitle" style="font-size: small; font-weight: bold; margin-left: 10px; margin-bottom:5px;">
            </div>
        </div>
    </script>

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    <div id="bibtex-journals"></div>
    {{ content }}
  </div>

</article>
