---
layout: default
---

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/bibtex-js.js"></script>


    <script type="text/javascript">
    $(function () {


        $('#bibtex-journals').BibtexJS({
            TemplateString: $("#bibtex-journals-template").text(),
            BibtexString: $("#bibtex-journals-input").text(),
            AuthorToHighlight: "Forer, Lukas"
        });

      });
    </script>

    <!-- Templates -->
    <!-- One template could've been used but this is just to show the power 
        of Bibtex-JS library to support multiple templates -->

    <script id="bibtex-journals-input" type="text/template">

@article{forer2010conan,
  title={CONAN: copy number variation analysis software for genome-wide association studies},
  author={Forer, Lukas and Sch{\"o}nherr, Sebastian and Weissensteiner, Hansi and Haider, Florian and Kluckner, Thomas and Gieger, Christian and Wichmann, Heinz-Erich and Specht, G{\"u}nther and Kronenberg, Florian and Kloss-Brandst{\"a}tter, Anita},
  journal={BMC bioinformatics},
  volume={11},
  number={1},
  pages={318},
  year={2010},
  publisher={BioMed Central Ltd}
}

@article{fuchsberger2008pedvizapi,
  title={PedVizApi: a Java API for the interactive, visual analysis of extended pedigrees},
  author={Fuchsberger, Christian and Falchi, Mario and Forer, Lukas and Pramstaller, Peter P},
  journal={Bioinformatics},
  volume={24},
  number={2},
  pages={279--281},
  year={2008},
  publisher={Oxford Univ Press}
}

@inproceedings{fuchsberger2008visual,
  title={Visual Analytical Methods to Identify Family Clustered Diseases},
  author={Fuchsberger, Christian and Forer, Lukas and Pattaro, Cristian and Hicks, Andrew and Pramstaller, Peter and Miksch, Silvia},
  booktitle={21st IEEE International Symposium on Computer-Based Medical Systems},
  pages={602--604},
  year={2008},
  organization={IEEE}
}

@article{fuchsberger2007analyzing,
  title={Analyzing Populations with Visual and Analytical Methods to Identify Family Clustered Diseases},
  author={Fuchsberger, Christian and Miksch, Silvia and Forer, Lukas and Pattaro, Cristian and others},
  year={2007},
  publisher={IOS Press}
}

@article{schonherr2011feedback,
  title={A feedback guided interface for elastic computing},
  author={Sch{\"o}nherr, Sebastian and Forer, Lukas and Wei{\ss}ensteiner, Hansi and Kronenberg, Florian and Specht, G{\"u}nther and Kloss-Brandst{\"a}tter, Anita},
  year={2011}
}

@article{jacquemont2011mirror,
  title={Mirror extreme BMI phenotypes associated with gene dosage at the chromosome 16p11. 2 locus},
  author={Jacquemont, S{\'e}bastien and Reymond, Alexandre and Zufferey, Flore and Harewood, Louise and Walters, Robin G and Kutalik, Zolt{\'a}n and Martinet, Danielle and Shen, Yiping and Valsesia, Armand and Beckmann, Noam D and others},
  journal={Nature},
  volume={478},
  number={7367},
  pages={97--102},
  year={2011},
  publisher={Nature Publishing Group}
}

@article{schonherr2012cloudgene,
  title={Cloudgene: A graphical execution platform for MapReduce programs on private and public clouds},
  author={Sch{\"o}nherr, Sebastian and Forer, Lukas and Wei{\ss}ensteiner, Hansi and Kronenberg, Florian and Specht, G{\"u}nther and Kloss-Brandst{\"a}tter, Anita},
  journal={BMC bioinformatics},
  volume={13},
  number={1},
  pages={200},
  year={2012},
  publisher={BioMed Central Ltd}
}

@incollection{forer2012cloud,
  title={Cloud Computing},
  author={Forer, Lukas and Sch{\"o}nherr, Sebastian and Wei{\ss}ensteiner, Hansi and Specht, G{\"u}nther and Kronenberg, Florian and Kloss-Brandst{\"a}tter, Anita},
  booktitle={Computational Medicine},
  pages={27--36},
  year={2012},
  publisher={Springer Vienna}
}

@article{lamina2012evaluation,
  title={Evaluation of gene--obesity interaction effects on cholesterol levels: A genetic predisposition score on HDL-cholesterol is modified by obesity},
  author={Lamina, Claudia and Forer, Lukas and Sch{\"o}nherr, Sebastian and Kollerits, Barbara and Ried, Janina S and Gieger, Christian and Peters, Annette and Wichmann, H-Erich and Kronenberg, Florian},
  journal={Atherosclerosis},
  volume={225},
  number={2},
  pages={363--369},
  year={2012},
  publisher={Elsevier}
}

@article{weissensteiner2013snpflow,
  title={SNPflow: a lightweight application for the processing, storing and automatic quality checking of genotyping assays},
  author={Weissensteiner, Hansi and Haun, Margot and Sch{\"o}nherr, Sebastian and Neuner, Mathias and Forer, Lukas and Specht, G{\"u}nther and Kloss-Brandst{\"a}tter, Anita and Kronenberg, Florian and Coassin, Stefan},
  year={2013}
}

@article{summerer2014large,
  title={Large-scale mitochondrial DNA analysis in Southeast Asia reveals evolutionary effects of cultural isolation in the multi-ethnic population of Myanmar},
  author={Summerer, Monika and Horst, J{\"u}rgen and Erhart, Gertraud and Wei{\ss}ensteiner, Hansi and Sch{\"o}nherr, Sebastian and Pacher, Dominic and Forer, Lukas and Horst, David and Manhart, Angelika and Horst, Basil and others},
  journal={BMC evolutionary biology},
  volume={14},
  number={1},
  pages={17},
  year={2014},
  publisher={BioMed Central Ltd}
}

@inproceedings{forer2014delivering,
  title={Delivering bioinformatics MapReduce applications in the cloud},
  author={Forer, Lukas and Lipic, Tomislav and Schonherr, Sven and Weisensteiner, Hansi and Davidovic, Davor and Kronenberg, Florian and Afgan, Enis},
  booktitle={Information and Communication Technology, Electronics and Microelectronics (MIPRO), 2014 37th International Convention on},
  pages={373--377},
  year={2014},
  organization={IEEE}
}

@article{titze2015disease,
  title={Disease burden and risk profile in referred patients with moderate chronic kidney disease: composition of the German Chronic Kidney Disease (GCKD) cohort},
  author={Titze, Stephanie and Schmid, Matthias and K{\"o}ttgen, Anna and Busch, Martin and Floege, J{\"u}rgen and Wanner, Christoph and Kronenberg, Florian and Eckardt, Kai-Uwe and Prokosch, Hans-Ulrich and B{\"a}rthlein, Barbara and others},
  journal={Nephrology Dialysis Transplantation},
  volume={30},
  number={3},
  pages={441--451},
  year={2015},
  publisher={Oxford University Press}
}

@article{jing2015prevalence,
  title={Prevalence and correlates of gout in a large cohort of patients with chronic kidney disease: the German Chronic Kidney Disease (GCKD) study},
  author={Jing, Jiaojiao and Kielstein, Jan T and Schultheiss, Ulla T and Sitter, Thomas and Titze, Stephanie I and Schaeffner, Elke S and McAdams-DeMarco, Mara and Kronenberg, Florian and Eckardt, Kai-Uwe and K{\"o}ttgen, Anna and others},
  journal={Nephrology Dialysis Transplantation},
  volume={30},
  number={4},
  pages={613--621},
  year={2015},
  publisher={Oxford University Press}
}

@inproceedings{forer2015cloudflow,
  title={Cloudflow-A framework for MapReduce pipeline development in Biomedical Research},
  author={Forer, Lukas and Afgan, Enis and Wei{\ss}ensteiner, Hansi and Davidovic, Davor and Specht, Gunther and Kronenberg, Florian and Schonherr, Sebastian},
  booktitle={Information and Communication Technology, Electronics and Microelectronics (MIPRO), 2015 38th International Convention on},
  pages={172--177},
  year={2015},
  organization={IEEE}
}

@article{raschenberger2015association,
  title={Association of relative telomere length with cardiovascular disease in a large chronic kidney disease cohort: The GCKD study},
  author={Raschenberger, Julia and Kollerits, Barbara and Titze, Stephanie and K{\"o}ttgen, Anna and B{\"a}rthlein, Barbara and Ekici, Arif B and Forer, Lukas and Sch{\"o}nherr, Sebastian and Weissensteiner, Hansi and Haun, Margot and others},
  journal={Atherosclerosis},
  volume={242},
  number={2},
  pages={529--534},
  year={2015},
  publisher={Elsevier}
}

@article{kloss2015validation,
  title={Validation of Next-Generation Sequencing of Entire Mitochondrial Genomes and the Diversity of Mitochondrial DNA Mutations in Oral Squamous Cell Carcinoma},
  author={Kloss-Brandst{\"a}tter, Anita and Weissensteiner, Hansi and Erhart, Gertraud and Sch{\"a}fer, Georg and Forer, Lukas and Sch{\"o}nherr, Sebastian and Pacher, Dominic and Seifarth, Christof and St{\"o}ckl, Andrea and Fendt, Liane and others},
  journal={PloS one},
  volume={10},
  number={8},
  pages={e0135643},
  year={2015},
  publisher={Public Library of Science}
}

@article{spjuth2015experiences,
  title={Experiences with workflows for automating data-intensive bioinformatics},
  author={Spjuth, Ola and Bongcam-Rudloff, Erik and Hern{\'a}ndez, Guillermo Carrasco and Forer, Lukas and Giovacchini, Mario and Guimera, Roman Valls and Kallio, Aleksi and Korpelainen, Eija and Ka{\'n}du{\l}a, Maciej M and Krachunov, Milko and others},
  journal={Biology direct},
  volume={10},
  number={1},
  pages={1--12},
  year={2015},
  publisher={BioMed Central}
}

@article{raschenberger2015telomeres,
  title={Do telomeres have a higher plasticity than thought? Results from the German Chronic Kidney Disease (GCKD) study as a high-risk population},
  author={Raschenberger, Julia and Kollerits, Barbara and Titze, Stephanie and K{\"o}ttgen, Anna and B{\"a}rthlein, Barbara and Ekici, Arif B and Forer, Lukas and Sch{\"o}nherr, Sebastian and Weissensteiner, Hansi and Haun, Margot and others},
  journal={Experimental gerontology},
  volume={72},
  pages={162--166},
  year={2015},
  publisher={Pergamon}
}

</script>


    <script id="bibtex-journals-template" type="text/template">
        <div class="bibtex_journals_template">
            <div class="if author" style="font-weight: bold; font-size: medium; padding-top: 30px;">
                <span class="if year"><strong><span class="conference" style="color: #000;"></span>  <span class="year" style="color: #000;"></span></strong>, </span><span class="title"></span>
                <span class="if url" style="margin-left: 20px">
                    <a class="url" style="color:black; font-size:10px">(view online)</a>
                </span>
            </div>
            <div style="margin-left: 10px; margin-bottom:5px;">
                <span class="author"></span>, <span class="booktitle" style="font-weight: bold; font-size:small;"></span>
            </div>
            <div class="if booktitle" style="font-size: small; font-weight: bold; margin-left: 10px; margin-bottom:5px;">
            </div>
        </div>
    </script>

<article class="post">
  <h1>{{ bibtex.title }}</h1>

  <div class="entry">
    <div id="bibtex-journals"></div>
  </div>

</article>
